
body {
    background: url(http://www.ccsgv.org/pictures.ccsgv.com/gallery-images/cork-board.jpg) center center;
    background-size: cover;
    margin: 0;
    width: 100vw;
    height: 100vh;
}
a:link {
    color:black;
}

.col-sm-3 {
    font-family: Arial;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    background-color: white;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 100px;
}

